h1 {
    background-color: #BCA37F;
    text-align: center;
   }
h2 {background-color: #BCA37F;}

#imagef{
    float: right;
}

body {background-color: #FFF2D8;}
td[class="name"] {background-color: #EAD7BB;}
th[id="top"] {background-color: #113946;}
p[class="title"] {color: white;}