h1 {
    background-color: #BCA37F;
    text-align: center;
    border: ridge red;
    border-width: 20px 10px;
    border-radius: 10px;
    margin-top: 40px;
}
header{
    padding: 10px;
}
#menu1{
    text-align: center;
}
h2 {
    background-color: #BCA37F;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
}
.menu{
    margin: 5px;
    background-color: rgb(57, 199, 21);
    padding: 5px;
    border-radius: 5px;
}

#para1{
    font-family: 'Shadows Into Light', cursive;
}

#imagef{
    float: right;
}
#imagecent {
    border: ridge 20px rgb(84, 157, 92);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#text{
    display: flex;
    flex-direction:;
}

a[class="btn btn-primary btn-sm"]{
    margin-bottom: 1%;
}

td[class="name"] {background-color: #EAD7BB;}
th[id="top"] {background-color: #113946;}
p[class="title"] {color: white;}

@media only screen and (max-width: 800px){
    table{
        width: 100%;
    }
    iframe[title="YouTube video player"]{
        width: 100%;
    }
    .flag{
        width: 100%;
    }
    header{
        
    }
}